#tabBox{
	width:660px;
	height: 440px;
	 border-radius: 5px;
	box-shadow: 0 0 10px #218dc9;
	position: absolute;
	top:0px;
	left:340px;
	z-index: 10;
}

#tabBox div{
	width:330px;
	height:370px;
	margin:0;
	padding:0;
	font-size: 18px;
  	color: #588BEA;
  	list-style: none;
  	padding: 0px;  	
  	padding-top:20px;  	
  	overflow:auto;  	
  	float: left;
}

.tab_1{
	width:330px;
	height:370px;
	float: left;
}

.tab_2{
	width:330px;
	height:370px;
	float: right;
}

#tabBox div li{
	padding-left: 20px;
}
.tab li{
	 border-radius: 5px;
	float: left;
	width:33.3%;
	height:50px;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 18px;
  	color: #588BEA;	
	text-align: center;
	line-height: 50px;			

}

.on{
	display: block;
}


.tab li.cur{
	background-color: rgba(255, 255, 255, 0.8);
}

